@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

/* :root{
    --main-bg-color:brown;
} */

* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(241, 236, 230);
}

header {
    height: 9vh;
    background-color: brown;
    /* background-color: var(--main-bg-color); */
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    display: flex;

}

h1 {
    margin: 15px 15px;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
}

ul {
    height: 9vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

li {
    list-style: none;
    padding: 0 23px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(245, 129, 129);
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    height: 27px;
    /* width: 493px; */
    width: 30vw;
    border-radius: 4px;
    margin: 0 13px 0 56px;
    padding: 0 12px;
    font-family: 'Josefin Sans', sans-serif;
   

}

.container {
    min-height: calc(100vh - 9vh - 12vh);
}

.slider {
    margin: 12px auto;
    width: 60vw;
    overflow: hidden;

}

.card
{
    background-color: rgb(214, 239, 239);
    padding: 0 23px;
    margin: 23px;
    font-family: 'Prompt', sans-serif;
}
.cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    /* overflow: scroll; */

}
.card-item
{
    display:inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 12px 15px;
}
.lines
{
    text-align: center;
}

footer {
    height: 12vh;
    background-color: blue;
    /* background-color:var(--main-bg-color); */
    color: rgb(202, 218, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}